<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
  body {
    background-image:none;
    background: linear-gradient(#bdc3c7, #2c3e50);
    background-size: 500%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
  }

  li {
    display: inline-block;
    }

  </style>
</head>

<form method="post" action="/exhibits">

  <label for="title">Title:</label>
  <input id="title" type="text" name="title"/>

  <label for="year_created">Year Created:</label>
  <input id="year_created" type="number" name="year_created"/>

  <label for="medium">Medium:</label>
  <select id="medium" name="medium">
    <option value="Oil">Oil</option>
    <option value="Watercolour">Watercolour</option>
    <option value="Pastil">Pastil</option>
    <option value="Photograph">Photograph</option>
    <option value="Stone">Stone</option>
  </select>

  <label for="artist_id">Artist:</label>
  <select name = "artist_id">
    <% for artist in @artists%>
    <option value="<%= artist.id %>"><%= artist.name %></option>
      <% end %>
    </select>
  <input type="submit" value="Add a new Exhibit"/>

</form>
