<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="forms.css">
  <title>Gallery</title>
</head>
<body>
    <ul>
      <div class"nav-bar">
      <li><a href="/">Home</a></li>
      <li><a href="/artists">Artists</a></li>
      <li><a href="/exhibits">Exhibits</a></li>
    </div>
    </ul>
  <%= yield %>
</body>
</html>
