body {
  font-family: 'Montserrat', sans-serif;
  background: url('http://hilliardohio.gov/images/default-source/Public-Service-Department/Engineering/gallery.jpg?sfvrsn=0');
  background-repeat: no-repeat;
  background-size: 100%;
}

li {
  display: inline;
  padding: 15px;

}

input[type="submit"] {
  font-family: 'Scope One', serif;
  font-size: 2em;
  background-color: #b30000;
  border-radius: 3px;
  display: inline-flex;
}

.heading {
display: flow-root;
margin: auto;
width: 80%;
}

.heading h1 {
  text-align: center;
  color: #002266;
  text-transform: capitalize;
}

.nav-bar a {
  color: #002266;

}

div ul li {
  height: 50px;
}

div {
  text-align: center;
}
.artist_table{
  border-collapse: collapse;
  border-radius: 5px;
}

.exhibit_table {
  border-collapse: collapse;
}

.artist-link {
  background-color: #002266;
  border-radius: 3px;
  padding: 2px;
  margin: 1px;
  display: inline-flex;
  color: white;
}


table tr td {
  width: 40%;
  border: 1px solid #002266;
  background-color: #b3b3b3;
  padding: 10px;
  border-radius: 5px;
  border-collapse: collapse;

}

table a {
  text-decoration: none;
}

th {
  width: 50%;
  height: 50px;
  text-align: left;
}
