<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
  body {
    background-image:url('http://www.union-gallery.com/layout/img/union_body_bc.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
  }

  li {
    display: inline-block;
    position:relative;
    left: 200px;
    bottom: 40px;
    padding: 10px;
    }

    input[type="submit"] {
      background-color: #009900;
      font-size: 12px;
    }

    div {
      position: relative;
      top: 180px;
      left: 80px;
    }

  </style>
</head>
<div>
<form method="post" action="/artists/edit/<%=@artists.id%>">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" value="<%= @artists.name %>"/>

  <label for="nationality">Nationality:</label>
  <input id="nationality" type="text" name="nationality" value="<%= @artists.nationality %>"/>

  <label for="craft">Craft:</label>
  <select id="craft" name="craft">
    <option value="Painter">Painter</option>
    <option value="Sculptor">Sculptor</option>
    <option value="Photographer">Photographer</option>
  </select>

  <input type="submit" value="Edit this Artist"/>

</form>
</div>
