<body style="background-image:none;background: linear-gradient(#bdc3c7, #2c3e50); background-size: 200%; background-repeat: no-repeat;">

<h4>Name: <%= @artist.name %></h4>
<h4>Nationality: <%= @artist.nationality%></h4>
<h4>Craft: <%= @artist.craft%></h4>
